* {
    margin: 0px;
    padding: 0px;
}

.avt img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 45%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea,
select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
}

body {
    padding: 20px;
}

table {
    width: 100%;
}

table th,
table td {
    padding: 15px 30px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

table th {
    color: #364d67;
    font-weight: 600;
    background-color: #f1f7fd;
}

table td {
    background-color: white;
}

table tbody tr {
    border-top: 1px solid #f0f4f8;
}

.sticky-table {
    overflow: auto;
    border: 1px solid #f0f4f8;
}

.sticky-table tbody td:first-child,
.sticky-table thead th:first-child {
    position: sticky;
    left: 0;
}

.sticky-table tbody td:first-child span {
    padding-right: 50px;
}

.list_img ul {
    list-style-type: none;
}

.list_img {
    padding-top: 10px;
}

.list_img img {
    width: 300px;
    height: 400px;
    display: inline-block;
    float: left;
    padding: 5px;
    margin-left: 20px;
    border-radius: 20px;
}

p {
    font-size: 50px;
    color: pink;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}